<br>
mat slide:<mat-slider min="1" max="100" step="1" value="50"></mat-slider>

<br>
mat-form-field:
<mat-form-field>
    <input type="text" matInput [formControl]="myControl">
</mat-form-field>
<br>


mat-form-field, mat-label, input placeholder:
<mat-form-field>
    <mat-label></mat-label>
    <input matInput placeholder="Just a placeholder">
</mat-form-field>
<br>


radio button : <mat-radio-button></mat-radio-button>

<br>

<mat-form-field>
    <input type="text" matInput [formControl]="myControl">
    <mat-icon matPrefix>phone: </mat-icon>
    <mat-hint>Include area code</mat-hint>
</mat-form-field>

<br>
<br>

<mat-checkbox>checkbox</mat-checkbox>

<br>
111
222<mat-divider></mat-divider>333
444

<br>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        expansion 패널 헤더
    </mat-expansion-panel-header>

    <p>패널 주 내용</p>

    <mat-action-row>
        <button mat-button>클릭버튼</button>
    </mat-action-row>
</mat-expansion-panel>


<mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        expansion t 헤더
      </mat-expansion-panel-header>
  
     expansion 1 주내용
  
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        expnaison 헤더
      </mat-expansion-panel-header>
      
      2 주 내용
  
    </mat-expansion-panel>
  
  </mat-accordion>
  
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
    </mat-grid-tile>
  </mat-grid-list>

  <br>

  <mat-toolbar>
      <span>My toolbar</span>
  </mat-toolbar>
  
  <br>
  
  <mat-toolbar>  
  <mat-toolbar-row>
    <span>First Row</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>Second Row</span>
  </mat-toolbar-row>
</mat-toolbar>